In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_json('tips.json')
h = df.iloc[0].tolist()
df = df[1:]
df.columns = h
df = df.reset_index(drop=True)
df['row'] = df['row'].astype(np.int)
df['total_bill'] = df['total_bill'].astype(np.float)
df['tip'] = np.round(df['tip'].astype(np.float), 2)
df['size'] = df['size'].astype(np.int)

df.info()
df.to_csv('tips.csv', index=None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
row           244 non-null int64
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.3+ KB

In [4]:
df.iloc[1]

row                2
total_bill     10.34
tip             1.66
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 1, dtype: object

In [23]:
df2 = pd.read_csv('tips.csv')
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
row           244 non-null int64
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.3+ KB

   row  total_bill   tip     sex smoker  day    time  size
0    1       16.99  1.01  Female     No  Sun  Dinner     2
1    2       10.34  1.66    Male     No  Sun  Dinner     3
2    3       21.01  3.50    Male     No  Sun  Dinner     3
3    4       23.68  3.31    Male     No  Sun  Dinner     2
4    5       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
dft = df2[:3]

arr = dft.values.tolist()
arr.insert(0, list(dft.columns))
arr

[['row', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'],
 [1, 16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2],
 [2, 10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3],
 [3, 21.01, 3.5, 'Male', 'No', 'Sun', 'Dinner', 3]]